.point-badge {
  background: #004280 !important;
  border-radius: 3px !important;
  color: #fff !important;
  display: inline-block !important;
  padding: 0 0.4em !important;
}

.point-badge--unestimated {
  background: #b31919 !important;
}

.subtle-id {
  color: #999 !important;
}

.list-wrapper-start {
  margin-left: 140px !important;
}

.list-wrapper-end {
  margin-right: 140px !important;
}

.list-wrapper-end + .list-wrapper-start {
  margin-left: 0 !important;
}
